<div class="single2">
    <div id="titleIngre"><strong>Ingredient : </strong></div>
    <div class="ingredient">
        {{#each ingredients}}

        <div class="in-img"> <img src="https://spoonacular.com/cdn/ingredients_100x100/{{image}}"></div>


        {{!-- <div><strong> metric:</strong> {{metric.unit}},{{metric.value}}</div> --}}

        {{/each}}
    </div>
</div>