<div class="main">
    <div class="header">
        <img id="logo" src="../src/img/logo3.png">
        <div class="topnav">
            <ul>
                <li><a href="#" id="nav-home" class="nav-link">Home</a></li>
                <li><a href="#" id="nav-search" class="nav-link">Search</a></li>
                <li><a href="#" id="nav-mealplan" class="nav-link">Get Meal Plan
                    </a></li>
                <li><a href="#" id="nav-random" class="nav-link">Get A Random Recipe</a></li>
            </ul>

        </div>
    </div>
    <div class="singlerr" id="singler">

    </div>
    <div class="content" id="contentId">

    </div>


    <div class="footer">
        <!-- Popup Starts Here -->
        <section id="contact">
            <div class="sectionheader">
                <h1>CONTACT US</h1>
            </div>
            <article>
                <label for="checkcontact" class="contactbutton">
                    <div class="mail"></div>
                </label><input id="checkcontact" type="checkbox">

                <form action="" method="post" class="contactform">
                    <p class="input_wrapper"><input type="text" name="contact_nm" value="" id="contact_nm"><label
                            for="contact_nm">NAME</label></p>
                    <p class="input_wrapper"><input type="text" name="contact_email" value="" id="contact_email"><label
                            for="contact_email">EMAIL</label></p>
                    <p class="input_wrapper"><input type="text" name="contact_subject" value=""
                            id="contact_subject"><label for="contact_subject">SUBJECT</label></p>
                    <p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea></p>
                    <p class="submit_wrapper"><input type="submit" value="Send"></p>
                </form>
            </article>
        </section>



    </div>
</div>