{{#each results}}
<div class="search-contents" data-rid={{id}}>

    <div class="search-image"><img src="{{image}}">
    </div>
    <div class="search-title"><strong>{{ title }}</strong></div>
</div>
{{/each}}